@import '@src/settings';

.c-btn {
	font-family: sans-serif;
	font-size: 1.25rem;
	line-height: 1.875;
	color: $color-white;
	min-width: 10rem;
	padding: 0.5rem 1.5rem;
	border: 1px solid $color-action;
	background: $color-action;
	border-radius: 0.3125rem;
	box-shadow: none;
	cursor: pointer;
	transition: all $timing $easing;

	@include hover {
		color: $color-action;
		background: $color-white;
	}

	&--outline {
		color: $color-action;
		background-color: transparent;

		@include hover {
			color: $color-white;
			background-color: $color-action;
		}
	}
}
