@import 'normalize.css';

@import '@src/settings';

* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: inherit;
	}
}

html,
body,
#app,
.o-wrapper {
	height: 100%;
}

body {
	font-family: 'Open Sans', Helvetica, Tahoma, Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.25;
	color: $color-base;
	background: #fff;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all $timing $easing;
}

img {
	border: 0;
	display: inline-block;
	vertical-align: top;
}
