@mixin flex($align, $justify) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
}

@mixin flex-row($wrap: wrap, $align: stretch, $justify: space-between) {
	@include flex($align, $justify);
	flex-flow: row $wrap;
}

@mixin flex-column($wrap: nowrap, $align: stretch, $justify: space-between) {
	@include flex($align, $justify);
	flex-flow: column $wrap;
}

@mixin small-desktop {
	@media (max-width: #{$small-desktop}) {
		@content;
	}
}

@mixin desktop-only {
	@media (min-width: $tablet-landscape + 1) {
		@content;
	}
}

@mixin tablet-landscape {
	@media (max-width: #{$tablet-landscape}) {
		@content;
	}
}

@mixin tablet-landscape-only {
	@media (min-width: $tablet-portrait + 1) and (max-width: $tablet-landscape) {
		@content;
	}
}

@mixin tablet-portrait {
	@media (max-width: #{$tablet-portrait}) {
		@content;
	}
}

@mixin tablet-portrait-only {
	@media (min-width: $mobile + 1) and (max-width: $tablet-portrait) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: #{$mobile}) {
		@content;
	}
}

@mixin hover {
	&:hover {
		@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
			@content;
		}
	}
}

@mixin centered {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

@mixin transition($properties, $will-change: true, $timing: $timing, $easing: $easing) {
	$transition: '';

	@each $property in str-split($properties, ',') {
		$single: $property + ' ' + $timing + ' ' + $easing + ',';
		$transition: $transition + $single;
	}

	transition: unquote($transition);

	@if ($will-change == true and $properties != 'all') {
		will-change: unquote($properties);
	}
}
