@use 'sass:list';
@use 'sass:color';
@use 'sass:string';

$color-base: #333;
$color-white: #fff;
$color-black: #000;
$color-error: #f00;
$color-action: #00f;
$color-warning: #ff0;
$timing: 0.4s;
$easing: ease-in-out;
$small-desktop: 1439px;
$tablet-landscape: 1279px;
$tablet-portrait: 1023px;
$mobile: 767px;
