name: Continuous Integration

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js LTS
              uses: actions/setup-node@v2
              with:
                  node-version: lts/*
            - run: yarn
            - run: yarn lint
            - run: yarn test:coverage
            - run: yarn build
